<div class="filter">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
</div>
<mat-table #table [dataSource]="dataSource">

  <!--
   Note that these columns can be defined in any order. The actual rendered
   columns are set as a property on the row definition, that is displayedColumns."
  -->

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.state | titlecase }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="health">
    <mat-header-cell *matHeaderCellDef> Health </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.health | titlecase }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="runningJobs">
    <mat-header-cell *matHeaderCellDef> Running Jobs </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.runningJobs}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let node; columns: displayedColumns;" (click)="viewDetail(node.id)"></mat-row>
</mat-table>
