<mat-vertical-stepper linear="true">
  <mat-step label="Select tests to run">
    <tree-root [nodes]="tests">
      <ng-template #treeNodeTemplate let-node let-index="index">
        <mat-checkbox (change)="check(node, $event.checked)" [checked]="node.data.checked">
          <span [matTooltip]="node.data.description" matTooltipPosition="right">{{node.data.name}}</span>
        </mat-checkbox>
      </ng-template>
    </tree-root>
    <div>
      <button mat-raised-button matStepperNext (click)="selectTests()">Next</button>
    </div>
  </mat-step>
  <mat-step label="Set test parameters" optional>
    <div *ngIf="selectedTestsWithParameters.length == 0; else testsWithParameters" class="no-params">
      No parameters for the selected tests.
    </div>
    <ng-template #testsWithParameters>
      <div *ngFor="let test of selectedTestsWithParameters" class="test">
        <div class="name"><span>{{test.name}}</span></div>
        <div class="parameters" *ngFor="let parameter of test.parameters">
          <mat-form-field>
            <div *ngIf="parameter.options; else noOptions">
              <mat-select [placeholder]="parameter.name" [value]="parameter.defaultValue">
                <mat-option *ngFor="let option of parameter.options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </div>
            <ng-template #noOptions>
              <input matInput [placeholder]="parameter.name" [value]="parameter.defaultValue">
            </ng-template>
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Select nodes to run on">
    <mat-radio-group>
      <mat-radio-button value="all" checked="true">All</mat-radio-button>
      <mat-radio-button value="filter" #filter>
        <mat-form-field class="filter">
          <input matInput placeholder="Filter, like HN state:online group:headnodes" (focus)="filter.checked = true">
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext>Run</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
