<app-back-button></app-back-button>

<div class="title main">
  <div class="name">{{result.testName}}</div>
  <div class="state"><i class="material-icons">check</i> {{result.state | titlecase}}</div>
</div>
<div class="time">started at {{result.startedAt | date:'yyyy-MM-dd HH:mm:ss'}} updated at {{result.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>

<div class="nodes">
  <div class="node" *ngFor="let node of result.nodes">
    <div class="title">
      <span class="name">{{node.name}}</span>
      <span class="state"><i class="material-icons md-18">check</i> {{node.state | titlecase}}</span>
    </div>
    <div class="details">
      <div class="section">
        <div class="name">
          HPC Services
        </div>
        <div class="description">
          This table lists the status of HPC services on the node.
        </div>
        <div class="data">
          <table>
            <tr>
              <th>Service Name</th>
              <th>Status</th>
            </tr>
            <tr *ngFor="let row of node.details.services">
              <td>{{row.name}}</td>
              <td>{{row.status}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

