<h2>
  {{node.name}}
  <app-back-button></app-back-button>
</h2>
<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="Usage">
    <div class="row">
      <div class="col-lg-6">
        <h3>CPU</h3>
        <chart type="line" [data]="cpuData" [options]="cpuOptions"></chart>
      </div>
      <div class="col-lg-6">
        <h3>Network</h3>
        <chart type="line" [data]="networkData" [options]="networkOptions"></chart>
      </div>
      <div class="col-lg-6">
        <h3>Disk</h3>
        <chart type="line" [data]="diskData" [options]="diskOptions"></chart>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Events">
  </mat-tab>
  <mat-tab label="Jobs">
  </mat-tab>
  <mat-tab label="Properties">
  </mat-tab>
</mat-tab-group>
