.section {
  margin-bottom: 1em;

  .name {
    font-style: italic;
  }

  .description {
    font-size: smaller;
  }

  .data {
    margin-top: 0.5em;
  }
}

th {
  text-align: left;
  font-weight: normal;
  background-color: #e2e2e2;
}

th, td {
  padding: 3px;
}
