.app-container {
  min-height: 900px;
}

.main-container {
  padding: 1em;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.home:visited {
  color: inherit;
}

.home h1 {
  display: inline-block;
  margin-left: 4px;
}

.active {
  background-color: #fafafa;
}

.title {
  margin-left: 10px;
}

app-breadcrumb {
  margin-left: 1.5em;
  font-size: 72%;
}
