app-back-button {
  float: right;
}

.title {
  display: flex;
  align-items: center;
  padding: 1em;

  .name {
    font-weight: bold;
    margin-left: 0.3em;
  }

}

.title.failure {
  color: red;
  background-color: #ffdada;
}

.title.success {
  color: green;
  background-color: #d5ffd4;
}

.title.main {
  font-size: 150%;
  clear: both;
}

.time {
  margin-top: 8px;
  font-size: small;
}

.nodes {
  margin-top: 1em;
}

.node {
  margin: 1.5em 0;

  .title {
    margin: 1em 0;
  }

  .details {
    margin: 0 1em;
  }
}

.summary {
  margin: 1em 0;
}

.overview {
  margin: 1em 0;

  .rate {
    font-size: smaller;
  }
}

chart {
  min-height: 150px;
}
