.row {
  display: flex;
  flex-wrap: wrap;
}

/* This is dedicated for its inner chart and must have relative position! */
.block {
  position: relative;
  width: 440px;
}

.health chart {
  height: 180px;
}

.state chart {
  height: 200px;
}

h3 {
  margin: 0.5em 0;
}
